################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Football_League_App/.vs/Football_League_App/FileContentIndex
