@{
	Layout = "_LayoutDashboard";
	//Kế thừa từ trang _LayoutDashboard
}
<html>


<head>
    <link rel="stylesheet" href="~/css/FLM-2023.HomePage.css" asp-append-version="true" />
</head>

<body>
    <main>
        <article>

            <!--
              - #HERO
            -->

            <section class="hero" id="home" aria-label="home" style="margin-top: 80px">
                <div class="container">

                    <div class="hero-content">


                        <h1 class="headline headline-1 section-title">
                            <span class="span-header"> Football League  </span><span class="span">Application</span>
                        </h1>

                        <p class="hero-text">
                            Welcome to our Football League Management App, a powerful tool that empowers you to create and effortlessly manage your very own league. Whether you're a passionate football enthusiast, a coach, or a team organizer, our app provides you with all the necessary features to streamline the league management process.
                        </p>



                    </div>

                    <div class="hero-banner">

                        <img src="~/images/football-league-logo.png" width="400" height="600" alt="Ucpc" class="w-100">

                        <img src="~/images/soccer-ball.svg" width="40" height="40" alt="shape" class="shape shape-1">

                        <img src="~/images/trophy.svg" width="40" height="40" alt="shape" class="shape shape-2">

                    </div>

                    <img src="~/images/shadow-1.svg" width="437.5" height="700" alt="" class="hero-bg hero-bg-1">



                </div>
            </section>
        </article>
    </main>
</body>


</html>