@{
    ViewBag.Title = "MatchDetails";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@model Football_League_App.Models.Match

<html>
<head>

	<link rel="stylesheet" href="~/css/MatchDetails.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Page</title>
</head>
<body>
	<div class="container">
		<!-- code here -->
		<div class="match">
			<div class="match-header">
				<div class="match-status">Live</div>
				<div class="match-tournament">@ViewBag.leagueName</div>
				<div class="match-actions">
					<button class="btn-icon"><i class="material-icons-outlined"></i></button>
					<button class="btn-icon"><i class="material-icons-outlined"></i></button>
				</div>
			</div>
			<div class="match-content">
				<div class="column">
					<div class="team team--home">
						<div class="team-logo">

							<img src="~/images/@Model.MaDoiNhaNavigation.ImgPath" />
						</div>
						<h2 class="team-name">@Model.MaDoiNhaNavigation.TenClb</h2>
					</div>
				</div>
				<div class="column">
					<div class="match-details">
						<div class="match-date">
							3 May at <strong>17:30</strong>
						</div>
						<div class="match-score">
							<span class="match-score-number match-score-number--leading">3</span>
							<span class="match-score-divider">:</span>
							<span class="match-score-number">1</span>
						</div>
						<div class="match-time-lapsed">
							72'
						</div>
						<div class="match-referee">
							Referee: <strong>Mike dean</strong>
							Stadium: <strong>@Model.MaDoiNhaNavigation.TenSvd</strong>

						</div>
						
						<button class="match-bet-place">View match details</button>
					</div>
				</div>
				<div class="column">
					<div class="team team--away">
						<div class="team-logo">

							<img src="~/images/@Model.MaDoiKhachNavigation.ImgPath" />
						</div>
						<h2 class="team-name"> @Model.MaDoiKhachNavigation.TenClb</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
