@model Football_League_App.Models.Player

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<link rel="stylesheet" href="~/css/FLM-2023.AddPlayer.css"/>
<main>
<section class="container">
    <header>Add Player</header>
        <form asp-action="AddPlayer" class="form">
           <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="input-box">
            <label>Tên Cầu Thủ</label>
            <input asp-for="TenCt" placeholder="Nhập tên cầu thủ" />
            <span asp-validation-for="TenCt" class="text-danger"></span>
        </div>

        <div class="input-box">
                <label>Loại Cầu Thủ</label>
                <input asp-for="LoaiCt" placeholder="Nhập loại cầu thủ" />
                <span asp-validation-for="LoaiCt" class="text-danger"></span>
        </div>

        <div class="column">
            <div class="input-box">
                <label>Quốc Tịch</label>
                <input asp-for="QuocTich" placeholder="Nhập Quốc tịch" />
                <span asp-validation-for="QuocTich" class="text-danger"></span>
            </div>
            <div class="input-box">
                     <label>Ngày Sinh</label>
                    <input asp-for="NgaySinh" placeholder="Nhập ngày sinh" />
                    <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
        </div>

            <div class="column">
                <div class="input-box">
                    <label>Chiều Cao</label>
                    <input asp-for="ChieuCao" placeholder="Nhập chiều cao" />
                    <span asp-validation-for="ChieuCao" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label>Cân Nặng</label>
                    <input asp-for="CanNang" placeholder="Nhập cân nặng" />
                    <span asp-validation-for="CanNang" class="text-danger"></span>
                </div>
            </div>


            <div class="column">
                <div class="input-box">
                    <label>Vị Trí Chính</label>
                    <input asp-for="ViTriChinh" placeholder="Nhập vị trí chính" />
                    <span asp-validation-for="ViTriChinh" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label>Vị Trí Phụ</label>
                    <input asp-for="ViTriPhu" placeholder="Nhập vị trí phụ" />
                    <span asp-validation-for="ViTriPhu" class="text-danger"></span>
                </div>
            </div>


        <div class="input-box address">
            <label>Thông tin bổ sung</label>
                <input asp-for="SoAo" placeholder="Số Áo" />
                <span asp-validation-for="SoAo" class="text-danger"></span>
                
                <input asp-for="ChanThuan" placeholder="Chân Thuận" />
                <span asp-validation-for="ChanThuan" class="text-danger"></span>

                <input asp-for="Luong" placeholder="Lương" />
                <span asp-validation-for="Luong" class="text-danger"></span>
            <div class="column">
                <div class="select-box">
                    <select asp-for="MaClb" class="form-control" asp-items="ViewBag.MaClb"></select>
                </div>
            </div>
        </div>
            <button asp-action="AddPlayerIntoDatabase" type="submit">Thêm Cầu Thủ</button>

            <div style="text-align: center; margin-top: 5px;">
                <a asp-action="Players">Back to List</a>
            </div>
    </form>
</section>
</main>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
