@model Football_League_App.Models.Player

@{
    ViewData["Title"] = "AddPlayer";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPlayer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenCt" class="control-label">Tên Cầu Thủ</label>
                <input asp-for="TenCt" class="form-control" name="txtTenCT" />
                <span asp-validation-for="TenCt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiCt" class="control-label">Loại Cầu Thủ</label>
                <input asp-for="LoaiCt" class="form-control" />
                <span asp-validation-for="LoaiCt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuocTich" class="control-label">Quốc Tịch</label>
                <input asp-for="QuocTich" class="form-control" />
                <span asp-validation-for="QuocTich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Luong" class="control-label">Lương</label>
                <input asp-for="Luong" class="form-control" />
                <span asp-validation-for="Luong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChieuCao" class="control-label">Chiều Cao</label>
                <input asp-for="ChieuCao" class="form-control" />
                <span asp-validation-for="ChieuCao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CanNang" class="control-label">Cân Nặng</label>
                <input asp-for="CanNang" class="form-control" />
                <span asp-validation-for="CanNang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViTriChinh" class="control-label">Vị Trí Chính</label>
                <input asp-for="ViTriChinh" class="form-control" />
                <span asp-validation-for="ViTriChinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViTriPhu" class="control-label">Vị Trí Phụ</label>
                <input asp-for="ViTriPhu" class="form-control" />
                <span asp-validation-for="ViTriPhu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label">Ngày Sinh</label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoAo" class="control-label">Số Áo</label>
                <input asp-for="SoAo" class="form-control" />
                <span asp-validation-for="SoAo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChanThuan" class="control-label">Chân Thuận</label>
                <input asp-for="ChanThuan" class="form-control" />
                <span asp-validation-for="ChanThuan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaClb" class="control-label">Mã CLB</label>
                <select asp-for="MaClb" class ="form-control" asp-items="ViewBag.MaClb"></select>
            </div>
            <div class="form-group">
                <input asp-action="AddPlayerIntoDatabase" type="submit" value="Thêm Cầu Thủ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Players">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
