@{
	Layout = "_LayoutDashboard";
}

<!DOCTYPE html>
<html>
<head>
    <title>Rules of The League</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!--Tạo bảng cho phép ng dùng thay đổi Db Rules-->
</body>
</html>