@{
	Layout = "_LayoutDashboard";
}
@model Football_League_App.Models.Rules
<!DOCTYPE html>
<html>
<head>
    <title>Rules of The League</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!--Tạo bảng cho phép ng dùng thay đổi Db Rules-->
    <table>
        <thead>
               
        </thead>
        <tbody>
            
        </tbody>
    </table>
</body>
</html>