<html>

	<head>
	This is Login Page
	<style>
	</style>
	</head>

<body style="background-color:bisque;
background-repeat:no-repeat;
background-image:url(https://thuthuatnhanh.com/wp-content/uploads/2022/06/Anh-bong-da-sieu-dep.jpg);
background-size:cover;
">
<div>
	This is Login Button 
</div>
<div style="height:250px;width:400px; background-color:red;border-radius:25px">
	<div>
		<header style="color:azure;font-size:medium;position:absolute">
			Login
		</header>
	</div>
	<form method="post">
			<div>
				<div>
					<input name="txtUser" style="color:deepskyblue;border-color:aqua;border-radius:20px" placeholder="Username" />
				</div>

				<div>
					<input name="txtPass" style="color:deepskyblue;border-color:aqua;border-radius:20px;background-position: bottom" placeholder="Password" />
				</div>
				<div>
					<input type="submit" name="btnLogin" value="Login" />
				</div>
			</div>
	</form>
</div>
	</body>

</html>